.btn {
  background: radial-gradient(84.93% 339.74% at 25.83% 50.33%, $dark-blue 9.68%, $medium-blue 100%);
  border-radius: 50px;
  padding: 10px 40px;
  color: $white;
  border: none;
  cursor: pointer;
}


