<div class="widget__header">
  <div>
    <h3>{{ widget.widget_title| widgetTitle }}</h3>
    <span class="heading-3 widget__date">{{widget.date | toDayMonth }}</span>
  </div>

  <span class="circle-icon">
    <img src="https://openweathermap.org/img/wn/{{ widget.icon | weatherIcon }}@2x.png" alt="weather-icon" />
  </span>
</div>

<div class="widget__table">
  <table>
    <tr>
      <th>Condition</th>
      <th>Value</th>
    </tr>
    <tr *ngFor="let condition of conditions | keyvalue; let i = index">
      <ng-container *ngIf="i < 4">
        <td>{{ condition.key }}</td>
        <td>{{ condition.value }}</td>
      </ng-container>
    </tr>
  </table>
</div>
