<h3>Weather Forecast</h3>
<div class="widget__summary lottie-block">
  <div class="widget__summary__block">
    <app-lottie-sun class="lottie"></app-lottie-sun>
    <ng-container>
      <span class="small-label-text lottie-data" *ngIf="showSunRise">Sunrise: {{ sunrise | toTime }}</span>
      <span class="small-label-text lottie-data" *ngIf="!showSunRise">Sunset: {{ sunset | toTime }}</span>
    </ng-container>

  </div>
  <div class="widget__summary__block">
    <span class="heading-3" id="wind-direction">{{ getWindDirection() }}</span>
    <app-lottie-compass class="lottie"></app-lottie-compass>
    <span class="small-label-text lottie-data">Wind Speed: {{ wind_speed }} mph</span>
  </div>
</div>

<div class="widget__chart">
  <div class="widget__control">
    <h4>{{conditionType | conditionRange: timeRange}}</h4>
    <div class="circle-container">
      <span class="circle"><a (click)="changeRange('hour')">H</a></span>
      <span class="circle"><a (click)="changeRange('day')">D</a></span>
    </div>
  </div>
  <table cellspacing="0">
    <tr>
      <th>Time</th>
      <th>Percent</th>
      <th>Temperature</th>
    </tr>

    <ng-container *ngFor="let iter of forecastIntervalData | keyvalue; let i = index;">
      <tr *ngIf="i < 11">
        <td *ngIf="timeRange == 'hour'">{{ iter.key | toHour }}</td>
        <td *ngIf="timeRange == 'day'">{{ iter.key | toDay }}</td>
        <td><span [ngStyle]="{'width': convertWidth(iter.value) + '%'}">&nbsp;</span></td>
        <td>{{ iter.value }}{{ conditionType | conditionSymbol}}</td>
      </tr>
    </ng-container>
  </table>
  <div class="circle-container circle-container--center">
    <span class="circle" >
      <a (click)="changeType('temp')">
        <span class="material-symbols-outlined">
          thermometer
        </span>
      </a>
    </span>
    <span class="circle">
      <a (click)="changeType('pop')">
        <span class="material-symbols-outlined" >
          water_drop
        </span>
      </a>

    </span>
    <span class="circle" (click)="changeType('humidity')">
      <span class="material-symbols-outlined">
        opacity
        </span>
    </span>
    <span class="circle" (click)="changeType('wind')">
      <span class="material-symbols-outlined">
        air
        </span>
    </span>
  </div>
</div>

