@import 'main';

.lottie {
  height: 125px;
}
.lottie-block {
  text-align: center;

  & .lottie-data {
    position: absolute;
    bottom: -10px;
    width: 100%;
  }
}
.animation-summary {
  & td {
    text-align: center;
    & span {
      width: 100%;

    }

  }
}
#wind-direction {
  position: absolute;
  @include absCenter;
}
.widget {
  &__summary {
    justify-content: space-evenly;
  }
  &__control {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 5px;
  }

  &__chart {

    table {
      width: 100%;
      gap: 10px;
      border-collapse: separate;
      border-spacing: 0 15px;
    }
    tr {
      height: 35px;
    }
    tr:has(th) {
      display: none;
    }
    td {
      &:is(:nth-child(1)) {
        width: 15%;
      }
      &:is(:nth-child(3)) {
        text-align: right;
        min-width: 15%;
        padding: 0 8px;
      }

      &:is(:nth-child(2)) {
          // visibility: hidden;
        // width: 75%;
        width: 100%;
        position: relative;
        border: 1px solid $light-grey;
        border-radius: 10px;
        overflow: hidden;
      }
      & span {
        background-color: $medium-blue;
        width: 0%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        border-radius: 10px;
      }
    }
  }
}




