@import 'main';

.circle {
  &-container {
    display: inline-block;

  }

  background-color: $light-blue;
  color: $white;

  font-family: 'Urbane Rounded';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;

  // padding: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  position: relative;
  display: inline-block;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &::after {
    content: "M";

    @include absCenter;
  }

}


.widget {
  &__control {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 5px;
  }

  &__chart {

    table {
      width: 100%;
      gap: 10px;
      border-collapse: separate;
      border-spacing: 0 15px;
    }
    tr {
      height: 35px;
    }
    tr:has(th) {
      display: none;
    }
    td {
      &:is(:nth-child(1)) {
        width: 10%;
      }
      &:is(:nth-child(3)) {
        text-align: right;
        width: 10%;
      }

      &:is(:nth-child(2)) {
        // visibility: hidden;
        width: 80%;
        position: relative;
        border: 1px solid $light-grey;
        border-radius: 10px;
        overflow: hidden;

        &::after {
          content: "";
          background-color: $medium-blue;
          width: 75%;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          border-radius: 10px;
        }
      }
    }
  }
}




