<h3>Weather Forecast</h3>

<div class="widget__chart">
  <div class="widget__control">
    <h4>Temperature Forecast</h4>
    <div class="circle-container">
      <span class="circle">&nbsp;</span><span class="circle">&nbsp;</span><span class="circle">&nbsp;</span>
    </div>
  </div>
  <table cellspacing="0">
    <tr>
      <th>Time</th>
      <th>Percent</th>
      <th>Temperature</th>
    </tr>
    <tr *ngFor="let forecast of forecastIntervals | keyvalue">
      <td>{{ forecast.key }}</td>
      <td><span [ngStyle]="{'width': forecast.value + '%'}">&nbsp;</span></td>
      <td>{{ forecast.value }}˚</td>
    </tr>
    <!-- <tr bar-width="50%">
      <td>0:00</td>
      <td>&nbsp;</td>
      <td>72˚</td>
    </tr>
    <tr bar-width="50%">
      <td>0:00</td>
      <td>&nbsp;</td>
      <td>72˚</td>
    </tr>
    <tr bar-width="50%">
      <td>0:00</td>
      <td>&nbsp;</td>
      <td>72˚</td>
    </tr>
    <tr bar-width="50%">
      <td>0:00</td>
      <td>&nbsp;</td>
      <td>72˚</td>
    </tr>
    <tr bar-width="50%">
      <td>0:00</td>
      <td>&nbsp;</td>
      <td>72˚</td>
    </tr>
    <tr bar-width="50%">
      <td>0:00</td>
      <td>&nbsp;</td>
      <td>72˚</td>
    </tr>
    <tr bar-width="50%">
      <td>0:00</td>
      <td>&nbsp;</td>
      <td>72˚</td>
    </tr>
    <tr bar-width="50%">
      <td>0:00</td>
      <td>&nbsp;</td>
      <td>72˚</td>
    </tr>
    <tr bar-width="50%">
      <td>0:00</td>
      <td>&nbsp;</td>
      <td>72˚</td>
    </tr> -->

  </table>
</div>
