@import 'main';

#sidebar {

  // height: 100vh;
  height: 100%;
  min-height: 800px;
  background-color: $dark-blue;
  // padding: 30px;
  width: 100%;

  & .logo-box {
    display: flex;
    align-items: center;
    justify-content: center;

    height: $header-height;
    width: 100%;
    border-bottom: 1px solid $light-grey;

    & span {
      font-size: 30px;
      color: $light-grey;
    }
  }

  & ul {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 80px;
  }
  & li {
    list-style: none;

    &:not(:last-child) {
      margin-bottom: 50px;
    }

    & a {
      color: $light-grey;

      & span {
        font-size: 30px;
      }


    }
  }


}

