<div id="sidebar" class="">
  <div class="logo-box">
    <!-- <span class="material-icons">cloud</span> -->
    <!-- <span class="circle-icon"> -->
      <!-- <span class="material-icons">cloud</span> -->
      <img src="https://openweathermap.org/img/wn/{{ summary.current_conditions.icon }}@2x.png" alt="weather-icon" />
    <!-- </span> -->
  </div>
  <ul>
    <li><a routerLink="/" class="material-icon">
      <span class="material-icons">home</span>
    </a></li>
    <li><a routerLink="/search">
      <span class="material-icons">search</span>
    </a></li>
  </ul>
</div>
