<div class="title-box">
  <h3>This Time Last Year</h3>
  <span class="xsmall-label-text">Conditions on 3/15/22</span>
</div>

<div class="widget__summary">
  <div class="widget__summary__block">
    <span class="data-font">{{ averageTemp }}˚</span>
    <span class="xsmall-label-text">Average Temp</span>
  </div>
  <div class="widget__summary__block">
    <span class="data-font">{{ chanceOfRain }}%</span>
    <span class="xsmall-label-text">Chance of Rain</span>
  </div>
  <div class="widget__summary__block">
    <span class="data-font">{{ humidity }}%</span>
    <span class="xsmall-label-text">Humidity</span>
  </div>
</div>
<div class="widget__table">
  <table>
    <tr>
      <th>Condition</th>
      <th>Value</th>
    </tr>
    <tr *ngFor="let condition of conditions1 | keyvalue">
      <td>{{condition.key}}</td>
      <td>{{condition.value}}</td>
    </tr>
  </table>
  <table>
    <tr>
      <th>Condition</th>
      <th>Value</th>
    </tr>
    <tr *ngFor="let condition of conditions2 | keyvalue">
      <td>{{condition.key}}</td>
      <td>{{condition.value}}</td>
    </tr>
  </table>
  <!-- <div class="widget__cta">
    <a routerLink="/search">
      Go To Search
      <span class="material-icons">arrow_forward</span>
    </a>
  </div> -->

