<h3>Search Criteria</h3>

<form class="form-group" action="submit" method="get">
  <div class="form-control">
    <label for="date">Date</label>
    <input type="date" name="to-date" id="to-date" />
    <input type="date" name="from-date" id="from-date" />
  </div>
  <div class="form-control">
    <label for="temperature">Temperature</label>
    <input type="text" name="temperature" id="temperature" />
  </div>
  <div class="form-control">
    <label for="percipitation">Percipitation</label>
    <input type="text" name="percipitation" id="percipitation" />
  </div>
  <div class="form-control">
    <label for="humidity">Humidity</label>
    <input type="text" name="humidity" id="humidity" />
  </div>
  <div class="form-control"><button class="btn" type="submit">Search</button></div>

</form>
