<h3>Search Criteria</h3>

<form (ngSubmit)="onSubmit()" #f="ngForm">
  <div class="form-group" ngModelGroup="criteria" #criteria="ngModelGroup">
    <div class="form-control" >
      <!-- <label for="date">Date</label> -->
      <label for="startDate">Start Date</label>
      <input
        type="date"
        name="startDate"
        ngModel
        #startDate="ngModel"
        id="startDate" />
      <label for="endDate">End Date</label>
      <input
        type="date"
        name="endDate"
        ngModel
        #endDate="ngModel"
        id="endDate" />
    </div>
    <div class="form-control">
      <label for="temperature">Temperature</label>
      <input
        type="text"
        name="temperature"
        ngModel
        #temperature="ngModel"
        id="temperature" />
    </div>
    <div class="form-control">
      <label for="precipitation">Precipitation</label>
      <input
        type="text"
        name="precipitation"
        ngModel
        #precipitation="ngModel"
        id="precipitation" />
    </div>
    <div class="form-control">
      <label for="humidity">Humidity</label>
      <input
        type="text"
        name="humidity"
        ngModel
        #humidity="ngModel"
        id="humidity" />
    </div>
    <div class="form-control"><button class="btn" type="submit" [disabled]="!buttonEnabled">Search</button></div>
  </div>


</form>
