h1, .heading-1 {
  font-family: 'Urbane Rounded';
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
}

h2, .heading-2 {
  font-family: 'Urbane Rounded';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
}

h3, .heading-3 {
  font-family: 'Urbane Rounded';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

h4, .heading-4 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.data-font {
  font-family: 'Urbane Rounded';
  font-style: normal;
  font-weight: 600;
  font-size: 31px;
  line-height: 37px;
}

p,
span,
div,
.body {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.small-label-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
}

.xsmall-label-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
}
