<h3>Current Conditions</h3>

<div class="widget__summary">
  <div class="widget__summary__block">
    <span class="data-font">70˚</span>
    <span class="xsmall-label-text">Average Temp</span>
  </div>
  <div class="widget__summary__block">
    <span class="data-font">10%</span>
    <span class="xsmall-label-text">Chance of Rain</span>
  </div>
  <div class="widget__summary__block">
    <span class="data-font">45%</span>
    <span class="xsmall-label-text">Humidity</span>
  </div>
</div>
<div class="widget__table">
  <table>
    <tr>
      <th>Condition</th>
      <th>Value</th>
    </tr>
    <tr>
      <td>condition</td>
      <td>15</td>
    </tr>
    <tr>
      <td>condition</td>
      <td>15</td>
    </tr>
    <tr>
      <td>condition</td>
      <td>15</td>
    </tr>
  </table>
  <table>
    <tr>
      <th>Condition</th>
      <th>Value</th>
    </tr>
    <tr>
      <td>condition</td>
      <td>15</td>
    </tr>
    <tr>
      <td>condition</td>
      <td>15</td>
    </tr>
    <tr>
      <td>condition</td>
      <td>15</td>
    </tr>
  </table>
</div>

